.nyt-logo {
    padding-top: 15px;
}

.loading img {
    width: 70px;
    height: auto;
}

.sections {
    font-size: 18px;
}

.articles li a {
    text-decoration: none;
    color: #fff
}

.article-area {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 50%; 
    height: auto;    
    justify-content: center;
    align-items: center;
}