.nyt-logo {
    padding-top: 15px;
}

.loading img {
    width: 70px;
    height: auto;
}

.sections {
    font-size: 18px;
}

.articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    img {
        width: 100%;

    }

    li a {
        // width: 25%;
        text-decoration: none;
        color: #fff
    }

    li {
        position: relative;

    }

    li p {
        width: 100%;
        // box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

.article-area {
    // flex-direction: column;
    // display: flex;
    // flex-wrap: wrap;
    width: 100vw;
    // justify-content: center;
    align-items: center;
    background-position: 50%;
}

p {
    line-height: 1.5rem;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
}