body {
    color: #ffffff;
    font-size: 16px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.copyright{
    color: #c2c2c2
}
